.navbar{

display:flex;

justify-content:space-between;

align-items:center;

background:#1e3a8a;

padding:15px;

color:white;

}

.navbar ul{

display:flex;

list-style:none;

gap:25px;

}

.navbar a{

color:white;

text-decoration:none;

}